@namespace p url(http://www.evolus.vn/Namespace/Pencil);
@namespace svg url(http://www.w3.org/2000/svg);
@namespace html url(http://www.w3.org/1999/xhtml);

pcanvas {
    -moz-binding: url(../UI/PCanvas.xbl#canvas);
    background-color: transparent;
    -moz-box-align: center;
    -moz-box-pack: center;
    padding: 1em;
}
pcanvas svg {
}
pcanvas > box {
    padding: 0px 4px 4px 0px;
    background-color: #666;
    -moz-user-focus: normal;
    margin: 5px 0px 0px 5px;
}
pcanvas > box > box {
    margin: -5px 0px 0px -5px;
    -moz-box-orient: horizontal;
    -moz-box-align: center;
    -moz-box-pack: center;
    -moz-box-flex: 0;
    /*
    -moz-user-input: enabled;
    -moz-user-modify: read-write;
    */
    border: solid 1px #666;
    background-color: #fff;
}
pcanvas > box:focus > box {
    border: solid 1px highlight;
}

pcanvas g[p|type='ControlLayer'] rect[p|type='RangeBound'] {
    fill: none;
    stroke: highlight;
    stroke-dasharray: 3,3;
    
    visibility: hidden;
}
pcanvas g[p|type='ControlLayer'] rect[p|type='RangeBound'][p|on='true'] {
    visibility: visible;
}
pcanvas g#selectionContainer rect {
    fill: none;
    stroke: #0a0;
    stroke-width: 4px;
    stroke-opacity: .3;
    xstroke-dasharray: 1,2;
}

pcanvas[p|selection='1'] g#selectionContainer rect {
    visibility: hidden;
}

pcanvas svg|svg svg|g[p|type] svg|foreignObject[p|mime='text/html']:hover > html|div {
    outline: solid 1px highlight;
}
pcanvas svg|svg svg|text[p|editable='true'] {
    cursor: text;
}

pcanvas svg|g[p|type='Shape'] svg|foreignObject html|input {
}

pcanvas svg|svg svg|g[p|type][p|moving],
pcanvas svg|svg svg|g[p|type][p|moving] * {
    visibility: hidden !important;
}
pcanvas g[p|name='Background'] g[p|name='grids'] {
    opacity: .1;
}
pcanvas g[p|name='Background'] g[p|name='grids'] path {
    stroke: #777;
    stroke-width: 1px;
    fill: none;
}

window[p|hide-heavy='true'] pcanvas svg|*[p|heavy],
window[p|hide-heavy='true'] pcanvas svg|*[p|filter] {
    display: none;
}

pcanvas svg|rect[p|name='BackgroundDimmer'] {
    fill: #000000;
    visibility: hidden;
}

pcanvas[p|with-background][p|with-background-dimmer] svg|rect[p|name='BackgroundDimmer'] {
    visibility: visible;
    opacity: .2;
}











