@namespace p url(http://www.evolus.vn/Namespace/Pencil);
@namespace svg url(http://www.w3.org/2000/svg);
@namespace html url(http://www.w3.org/1999/xhtml);

toolbar {
    -moz-appearance: none !important;
    border: none;    
}
.AttachedAction {
    color: highlight;
    font-size: .9em;
    font-weight: bold;
}
toolbar toolbarbutton[disabled],
button[disabled].AttachedAction {
    opacity: .3;
}
#mainBox {
    margin-top: 5px;
}
#mainBox splitter {
    opacity: 0;
}
toolbox {
    padding-bottom: .3em;
}
/*
tabbox.Main,
tabbox.Main tabs,
tabbox.Main tab,
tabbox.Main tabpanel,
tabbox.Main tabpanels {
    -moz-appearance: none;
}
tabbox.Main {
    margin: .5em 0em;
    background: threedface;
}
tabbox.Main > hbox {
    padding-top: .7em;
}
tabbox.Main > hbox > button:last-child {
    margin-right: 1em;
}
tabbox.Main tabs {
    padding: 0em .7em;
    padding-bottom: 0em;
}
tabbox.Main tabs spacer {
    border: none;
}
tabbox.Main tab {
    font-weight: bold;
    border: none;
    margin: 0px !important;
    padding: .2em .7em !important;
    height: 2em;
    max-height: 2em;
    min-height: 2em;
    -moz-border-radius: 0px;
}
tabbox.Main tab label {
    color: -moz-text;
}
tabbox.Main tab:hover label {
    text-decoration: underline;
}
tabbox.Main tab[selected="true"] {
    background-color: #555 !important;
    opacity: 1;
}
tabbox.Main tab:hover {
    background-color: threedshadow;
}
tabbox.Main tab:hover label,
tabbox.Main tab[selected="true"] label {
    color: threedhighlight;
    text-decoration: none !important;
}
tabbox.Main tab + tab {
    border-left: solid 2px;
    -moz-border-left-colors: threedshadow threedhighlight;
}
tabbox.Main tab:hover + tab,
tabbox.Main tab + tab:hover {
    -moz-border-left-colors: threedshadow threedshadow;
}
tabbox.Main tab[selected="true"] + tab,
tabbox.Main tab + tab[selected="true"] {
    -moz-border-left-colors: #555 #555;
}
*/

tabbox.Main tab {
    padding-left: 1em;
    padding-right: 1em;
}
tabbox.Main tab[selected="true"] {
    font-weight: bold;
}

tabbox.Main tabpanels {
}
tabbox.Main tabpanel {
    background: #ccc;
}
tabpanels#mainViewPanel > tabpanel > vbox {
    -moz-box-flex: 1;
    overflow: auto;
}
tabpanels#mainViewPanel[p|resizing] > tabpanel > vbox {
    overflow: hidden;
}
#pageTabContextMenu #pagePropertiesMenuItem {
    font-weight: bold;
}
#tabScrollBox autorepeatbutton {
    min-width: 20px;
}
#mainView > hbox {
    margin-bottom: -1px;
}
#mainView > hbox tab {
    margin-bottom: 1px;
}
#mainView > hbox tab[selected='true'] {
    margin-bottom: 0px;
}








