@namespace p url(http://www.evolus.vn/Namespace/Pencil);
@namespace svg url(http://www.w3.org/2000/svg);
@namespace html url(http://www.w3.org/1999/xhtml);

pcanvas {
    -moz-binding: url(chrome://pencil/content/bindings/pCanvas.xbl#canvas);
    background-color: transparent;
    -moz-box-align: center;
    -moz-box-pack: center;
    -moz-user-select: none;
    user-select: none;
    padding: .7em;
}
pcanvas svg html|* {
    -moz-user-select: none !important;
    user-select: none !important;
}
pcanvas svg {
}
pcanvas svg|g[p|type='Shape'] {
	cursor: move;
}
pcanvas svg|g[p|type='Shape'][p|locked='true'] {
	cursor: default;
}
pcanvas.Painter,
pcanvas.Painter svg|g[p|type='Shape'] {
    cursor: url(chrome://pencil/skin/images/format-painter-16.png) 16 16, default !important;
}
pcanvas.Pan {
    cursor: url(chrome://pencil/skin/images/pan.cur) 16 16, default !important;
}
pcanvas.PanDown {
    cursor: url(chrome://pencil/skin/images/pandown.cur) 16 16, default !important;
}
pcanvas > box {
    padding: 0px;
	/*padding: 0;*/
    background-color: #666;
    -moz-user-focus: normal;
    margin: 0px;
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
}
pcanvas > box > box {
    margin: 0px;
	/*margin: 0;*/
    -moz-box-orient: horizontal;
    -moz-box-align: center;
    -moz-box-pack: center;
    -moz-box-flex: 0;
    /*
    -moz-user-input: enabled;
    -moz-user-modify: read-write;
    */

	-moz-user-focus: normal;
    border: solid 1px #666;
    background-color: #fff;
}
pcanvas box[focusable='true'] {
	-moz-user-focus: normal;
	user-focus: normal;
}
pcanvas box[focusable='true'] svg {
    -moz-user-focus: ignore;
    user-focus: ignore;
}

pcanvas > box:focus > box {
    border: solid 1px highlight;
}

pcanvas g[p|type='ControlLayer'] rect[p|type='RangeBound'] {
    fill: none;
    stroke: highlight;
    stroke-dasharray: 3,3;

    visibility: hidden;
}
pcanvas g[p|type='ControlLayer'] rect[p|type='RangeBound'][p|on='true'] {
    visibility: visible;
}
pcanvas g#selectionContainer rect {
    fill: none;
    stroke: #0a0;
    stroke-width: 4px;
    stroke-opacity: .3;
    xstroke-dasharray: 1,2;
}

pcanvas[p|selection='1'] g#selectionContainer rect {
    visibility: hidden;
}
pcanvas[p|holding] g[p|type='ControlLayer'] > * {
    display: none;
}
pcanvas svg|svg svg|g[p|type] svg|foreignObject[p|mime='text/html']:hover > html|div {
    outline: solid 1px highlight;
}
pcanvas svg|svg svg|text[p|editable='true'] {
    cursor: text;
}

pcanvas svg|g[p|type='Shape'] svg|foreignObject html|input {
}

pcanvas svg|svg svg|g[p|type][p|moving],
pcanvas svg|svg svg|g[p|type][p|moving] * {
    visibility: hidden !important;
}
pcanvas g[p|name='Background'] g[p|name='grids'] {
    opacity: .3;
}
pcanvas g[p|name='Background'] g[p|name='grids'] line {
    stroke: #777;
    stroke-width: 1px;
    fill: none;
}

window[p|hide-heavy='true'] pcanvas svg|*[p|heavy],
window[p|hide-heavy='true'] pcanvas svg|*[p|filter] {
    display: none;
}

pcanvas svg|rect[p|name='BackgroundDimmer'] {
    fill: #000000;
    visibility: hidden;
}

pcanvas[p|with-background][p|with-background-dimmer] svg|rect[p|name='BackgroundDimmer'] {
    visibility: visible;
    opacity: .2;
}
pcanvas g[p|name='Snapping'] line {
	fill: none;
	stroke: blue;
	stroke-width: 1;
	opacity: 0.3;
}
pcanvas g[p|name='Snapping'] line.Center,
pcanvas g[p|name='Snapping'] line.HCenter,
pcanvas g[p|name='Snapping'] line.VCenter {
	stroke: magenta;
}









