@import url("chrome://pencil/skin/pCanvas.css");
@import url("chrome://pencil/skin/miniToolbar.css");
@import url("chrome://pencil/content/bindings/collectionPane.css");
@import url("chrome://pencil/content/bindings/privateCollectionPane.css");
@import url("chrome://pencil/content/bindings/colorPickerButton.css");
@import url("chrome://pencil/content/bindings/commonEditors.css");

@namespace p url(http://www.evolus.vn/Namespace/Pencil);
@namespace svg url(http://www.w3.org/2000/svg);
@namespace html url(http://www.w3.org/1999/xhtml);

toolbox {

}
toolbar {
    -moz-box-align: center;
	padding-bottom: .3em;
}
toolbar toolbarbutton label {
	xdisplay: none;
}
toolbar toolbarbutton[disabled],
button[disabled].AttachedAction {
    opacity: .3;
}
toolbarbutton.AttachedAction {
    color: highlight;
    font-size: .9em;
    font-weight: bold;
}
#mainBox {
    margin-top: 5px;
}
#mainBox splitter {
    opacity: 0;
}
#sideBox,
#sideBox tabs {
    min-width: 100px;
}

tabbox.Main #mainViewHeader > tab {
    padding-left: 1em;
    padding-right: 1em;
}
tabbox.Main #mainViewHeader > tab[selected="true"] {
    font-weight: bold;
}

tabbox.Main > tabpanels {
}
tabbox.Main > * > tabpanel {
    background: #ccc;
}
tabbox > tabs#sideBoxTabs,
tabbox.Main > tabs > tab,
#pencilPropertyEditorDialog tabbox > tabs > tab {
    min-height: 2.2em;
}
tabbox > tabs#sideBoxTabs,
tabbox.Main > tabs > tab label,
#pencilPropertyEditorDialog tabbox > tabs > tab label {
    padding-left: .7em;
    padding-right: .7em;
}

.colorpickertile[selected="true"] {
    border-style: solid;
    border-color: highlight;
}

toolbar[mode='icons'] toolbarbutton label {
}
toolbar[mode='icons'] toolbarbutton image {
    /*margin-right: 0px;*/
}

dialog#propertyEditorDialog > *,
dialog#propertyEditorDialog > .dialog-button-box button {
    font-size: .9em;
}

toolbar *.ToolbarSection {
    margin-left: .3em;
    margin-right: .3em;
}
toolbar *.ToolbarSection textbox,
toolbar *.ToolbarSection label {
    margin: 0px;
}
toolbar *.ToolbarSection * + label {
    margin-left: 1em;
}
toolbar *.ToolbarSection textbox {
    font-size: .85em;
}
toolbar *.ToolbarSection > hbox > label {
    margin: 0px;
    margin-right: .5em;
    font-size: .9em;
    font-weight: bold;
}
toolbar *[disabled='true'].ToolbarSection {
    display: none;
}

toolbar#nav-bar {
	display: block;
	margin-top: 1px;
}

toolbar pfonteditor > * > * > label {
    display: none;
}
toolbar pfonteditor *[aid="fontList"] {
    width: 15em;
}
toolbar pfonteditor > hbox > vbox + vbox {
    margin-left: 0em;
}

toolbar pfonteditor menulist,
toolbar pfonteditor textbox,
toolbar pfonteditor button {
    margin-left: 0px;
    margin-right: 0px;
}
html|a {
    color: rgb(0, 0, 208);
    text-decoration: underline;
}


toolbar * {
    -moz-user-focus: ignore !important;
}
toolbar label {
    /*font-weight: bold;
    font-size: .9em;*/
}
treechildren::-moz-tree-row {
    height: 1.8em;
}
window[p|probing],
window[p|probing] *,
dialog[p|probing],
dialog[p|probing] * {
    cursor: url(moz-icon://stock/stock_3d-color-picker?size=16) 0 16, default !important;
}
tabpanels#mainViewPanel > tabpanel > vbox {
    -moz-box-flex: 1;
    overflow: auto;
}
tabpanels#mainViewPanel[p|resizing] > tabpanel > vbox {
    overflow: hidden;
}

#pageTabContextMenu #pagePropertiesMenuItem {
    font-weight: bold;
}
#tabScrollBox autorepeatbutton {
    min-width: 20px;
}
#mainView > hbox {
    margin-bottom: -1px;
}
#mainView > hbox #mainViewHeader tab {
    margin-bottom: 1px;
}
#mainView > hbox #mainViewHeader tab[selected='true'] {
    margin-bottom: 0px;
}

#pencil-menu {
    font-weight: bold;
    list-style-image: url(images/pencil-22.png);
}
#toolbar-menubar {
    -moz-appearance: none;
    padding: 0px !important;
}

#toolbar-menubar button[type="panel"],
#toolbar-menubar #geometryToolbar,
#richTextEditorToolbar menulist,
#richTextEditorToolbar menulist menuitem {
    font-size: .9em;
}
#toolbarExtra > toolbar {
    -moz-appearance: none;
    padding: 0px !important;
}

#navigator-toolbox toolbar {
    -moz-appearance: none;
    border: none;
}

#richTextEditorToolbar menulist {
    padding: 0px;
}

#toolbar-menubar toolbarseparator {
    -moz-appearance: none !important;
    width: 2px;
    height: 20px;
    margin: 0px 7px;
    border: outset 1px;
    opacity: .3;
}
#toolbar-menubar toolbarseparator + toolbarseparator:first-child {
    display: none;
}
#toolbar-menubar .PanelContent > hbox {
    background: rgba(255, 255, 255, .8);
    padding: 2px;
    border-radius: 5px;
    margin: 0px 3px;
    -moz-box-align: center;
}
#toolbar-menubar button panel hbox {
    -moz-box-align: center;
}
#toolbar-menubar button panel > hbox.PanelContent {
    background: threedface;
    padding: 3px;
    border: outset 1px;
}
