dialog {
    padding: 0px;
}
editor {
    background-color: #fff;
    -moz-box-flex: 1;
    border: solid 1px;
    -moz-border-top-colors: threedshadow;
    -moz-border-left-colors: threedshadow;
    -moz-border-bottom-colors: threedhighlight;
    -moz-border-right-colors: threedhighlight;
}
*.dialog-button-box {
    padding: .4em;
}
*.dialog-button-box button {
}
toolbarbutton {
}

toolbar menuitem.NameItem {
    font-weight: bold;
    background: threedface;
}

* {
    -moz-user-focus: ignore;
}
editor {
    -moz-user-focus: normal;
}
