Sphinx >= 1.3
sphinx-rtd-theme >= 0.1
sphinxcontrib-autoanysrc


How to install sphinxcontrib-autoanysrc
---------------------------------------

Type the following at the Linux commandline as root (!):

    su
    pip install sphinxcontrib-autoanysrc



